/* UPRM RUMblebots Combact Robots Team */

/* ¡Hoy, Ahora y Siempre... Colegio! */
.verde-colegial{ 
    color:#217600;
}

.bg-verde-colegial{
    background-color: #217600;
}

.uprm-web-logo{
    height: 59px;
    width: 193px;
    margin-right: 0px;
}

#navbar{
    transition: top 0.5s;
}

