name: NodeJS with Webpack

on:
  push:
    branches: [ "main" ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: '18.x'

    - name: Create dir
      run: |
        mkdir public

    - name: Build
      run: |
        npm install
        npx webpack
        
    - uses: FirebaseExtended/action-hosting-deploy@v0
      with:
        repoToken: '${{ secrets.GITHUB_TOKEN }}'
        firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_RUMBLEBOTS_WEBSITE }}'
        channelId: live
        projectId: rumblebots-website

        
